<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>382818889923-ooevmeq5532dkfsn2q28u65j670ljm8r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.382818889923-ooevmeq5532dkfsn2q28u65j670ljm8r</string>
	<key>API_KEY</key>
	<string>AIzaSyCyqR-BVsuAoOL7MOSM0KVsYH994LZ6ErU</string>
	<key>GCM_SENDER_ID</key>
	<string>382818889923</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sam.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-99e9c</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-99e9c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:382818889923:ios:97d957147ccbf275b13276</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-ios13-99e9c.firebaseio.com</string>
</dict>
</plist>